<h2><%= @shelter.name.upcase %></h2>

<div>
  <section id='shelter-info'>
    <%= @shelter.address %>
    <%= @shelter.city %>
    <%= @shelter.state %>
    <%= @shelter.zip %></br></br>
  </section>
</div>


    <h2>Shelter Reviews</h2>
    <% if @shelter.reviews.empty? %>
    <p>There are no reviews for this shelter.</p>
    <% else %>
      <% @shelter.reviews.each do |review| %>
        <div>
          <section id="review-<%= review.id %>">
            <h3><%= review.title %></h3>
            <p>Rating: <%= review.rating %></p>
            <p>Content: <%= review.content %></p>
              <% if review.image == "No image added" || review.image == ""%>
                  <p>No image added</p>
              <% else %>
                  <%= image_tag(review.image, size: "200x200") %>
              <% end %></br>
            <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %></br>
            <%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %></br>
            <section>
        </div>
        <%end %>
    <% end %>


<div>
  <h2>Additional Actions:</h2>
    <h4><%= link_to "Add New Review", "/shelters/#{@shelter.id}/reviews/new"%></h4>
    <h4><%= link_to "This Shelter's Pets Page", "/shelters/#{@shelter.id}/pets"%></h4>
    <h4><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></h4>
    <% if @shelter.count_approved_applications == 0 %>
    <h4><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></h4>
    <% end %>
</div>
