<h2><%= @shelter.name.upcase %></h2>

<div>
  <seciton id='shelter-info'>
    <%= @shelter.address %>
    <%= @shelter.city %>
    <%= @shelter.state %>
    <%= @shelter.zip %></br></br>
  </section>
</div>

<div>
  <h2>Additional Actions:</h2>
    <h3><%= link_to "This Shelter's Pets Page", "/shelters/#{@shelter.id}/pets"%></h3>
    <h3><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></h3>
    <h3><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></h3>
</div>