<h1>FAVORITED PETS INDEX PAGE</h1>

<% if favorites.contents.empty? %>
    There are no favorited pets to display at this time.
<% else %>
  <div>
    <% @pets.each do |pet| %>
      <% if favorites.contents.has_key?(pet.id.to_s) %>
        <section id="favpet-<%= pet.id %>">
          <%= link_to pet.name, "/pets/#{pet.id}" %></br>
          <%= image_tag(pet.image, size: "200x200") %></br>
          <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %></br>
        </section>
      <% end %>
    <% end %>
  </div>
<% end %></br></br>

<section id="openapplications">
  <div>
    <h2>Pets with at least one open application:</h2> </br>
      <% @unique_pets.each do |pet| %>
        <h4><%= link_to pet.name, "/pets/#{pet.id}" %></br></h4>
      <% end %>
  </div>
</section></br>

<h2>Additional Actions:</h2>
<div>
  <%= link_to "Apply to Adopt Favorite Pets", '/applications/new' %></br>
  <%= link_to "Remove All Favorite Pets", '/favorites', method: :delete %>
</div>