<h3>Apply to adopt pets:</h3>
<%= form_tag "/applications" do %>
  <% @pets.each do |pet| %>
    <% if favorites.contents.has_key?(pet.id.to_s) %>
      <%= pet.name%><%= check_box_tag 'pet.name', 'pet.id'  %></br>
    <% end %>
  <% end %>
  <%= label_tag :name %>
  <%= text_field_tag :name %></br>
  <%= label_tag :address %>
  <%= text_field_tag :address %></br>
  <%= label_tag :city %>
  <%= text_field_tag :city %></br>
  <%= label_tag :state %>
  <%= text_field_tag :state %></br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip %></br>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number %></br>
  <%= label_tag :description %>
  <%= text_field_tag :description %></br>
  <%= submit_tag 'Submit'%>
<% end %>
