<h2><%= @pet.name.upcase %>'S SHOW PAGE</h2>

<div>
  <section class='pet-info'>
    <%= image_tag(@pet.image, size: "200x200") %></br>
    Description: <%= @pet.description%></br>
    Age: <%= @pet.age%></br>
    Gender: <%= @pet.sex%></br>
    Adoption Status: <%= @pet.status %></br>
    <% if @pet.approved_application != nil %>
    <h4>On hold for <%= @application.name %></h4>
    <% end %>
    <% if favorites.contents[@pet.id.to_s] == 1 %>
      <%= button_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %>
    <% else %>
      <%= button_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %>
    <% end %>




  </section></br>
</div

<div>
  <h2>Additional Actions:</h2>
  <h3><%= link_to "See all applicants for this pet", "/pets/#{@pet.id}/applications" %></h3>
  <h3><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></h3</br>
  <h3><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></h3>
</div>
